{% extends "base.html" %}

{% block title %}にゃーん({{ nyaaan.created_at }}) {{ nyaaan.user.json.name }}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}にゃーん({{ nyaaan.created_at }}) {{ nyaaan.user.json.name }}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="mb-5">
            {% include "core/parts/card.html" %}
        </div>
        <div class="text-center">
            <h2 class="mb-2">nEcho(ねこー)</h2>
            <p class="lead">何を書いてもにゃーんに変換されてツイートされます</p>
            {% if user.is_authenticated %}
            <a class="btn btn-lg btn-primary mb-4" href="/home/">つぶやいてみる</a>
            {% else %}
            <a class="btn btn-lg btn-primary mb-4" href="{% url 'social:begin' 'twitter' %}">つぶやいてみる</a>
            {% endif %}
            <p class="text-small text-muted">
                ごくまれに「にゃーん」以外にもなるかも
            </p>
            <p class="text-small text-muted">
                利用にあたってはツイッターアカウントでの<br>
                アプリ連携が必用です
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% include 'core/parts/nyaaan.html' %}
{% endblock %}
